$global-width: 135rem;

// colors 
$col_bs_blue: #0091E6;
$col_bs_green: #6AB82E;
$col_bs_red: #B43838;



// new design
// $border_radius: 5px;
// $border_radius: 3px;
$border_radius: 1.2rem;

$shadow: 1px 0px 11px 1px rgba(140, 140, 140, 0.2);

$global-width-padding: 3.5rem;
$global-width-padding-mobile: 2.3rem;

// $col_primary: #A2C29A;
$col_primary: #31BF80;
// $col_primary: #24A269;
$col_primary_dark: #218257;
// $col_blue: #317ABF;
$col_blue: #313CBF;
$col_purple: #4B31BF;